<section id="Stage6" class="container content-section text-center">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <h2>Stage 6: Brighton Poto Epic</h2>
            <h3>Saturday May 27st, 2017 &nbsp;&nbsp;&nbsp; Meet by 9:45, Ride at 10am</h3>
            <p>Meet up at the <a href="https://goo.gl/maps/X5DjHErwdbs">Shelter by Chilson Pond</a></p>
        </div>
    </div>
    <h3>The Course</h3>
    <div class="row">
        <div class="col-lg-3 col-lg-offset-2">
            <p>
                Leaving from the Chilson Pond area, we start when we get to the Freedom from Chilson Westbound Segment. Ride out to Poto, do a full lap, ride back, lap of Torn and done. </br>
                <i>It's literally that easy</i>
            </p>
        </div>
        <div class="col-lg-6">
            <iframe height='405' width='100%' frameborder='0' allowtransparency='true' scrolling='no' src='https://www.strava.com/segments/12223482/embed'></iframe>
        </div>
    </div>
    <h3>The Sprints</h3>
    <div class="row">
        <div class="col-lg-3 col-lg-offset-2">
            <p>
                Sprint 1 - Road on the way Out
            </p>
        </div>
        <div class="col-lg-6">
            <iframe height='405' width='100%' frameborder='0' allowtransparency='true' scrolling='no' src='https://www.strava.com/segments/7273856/embed'></iframe>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3 col-lg-offset-2">
            <p>
                Sprint 2 - Lakeland Trail on the way Back
            </p>
        </div>
        <div class="col-lg-6">
            <iframe height='405' width='100%' frameborder='0' allowtransparency='true' scrolling='no' src='https://www.strava.com/segments/7273839/embed'></iframe>
        </div>
    </div>
    <h3>The Climbs</h3>
    <div class="row">
        <div class="col-lg-3 col-lg-offset-2">
            <p>
                Climb 1 .... On the Poto
            </p>
        </div>
        <div class="col-lg-6">
            <iframe height='405' width='100%' frameborder='0' allowtransparency='true' scrolling='no' src='https://www.strava.com/segments/763107/embed'></iframe>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3 col-lg-offset-2">
            <p>
                Climb 2 .... On the Road
            </p>
        </div>
        <div class="col-lg-6">
            <iframe height='405' width='100%' frameborder='0' allowtransparency='true' scrolling='no' src='https://www.strava.com/segments/1061610/embed'></iframe>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3 col-lg-offset-2">
            <p>
                Climb 3 .... On Torn
            </p>
        </div>
        <div class="col-lg-6">
            <iframe height='405' width='100%' frameborder='0' allowtransparency='true' scrolling='no' src='https://www.strava.com/segments/7194224/embed'></iframe>
        </div>
    </div>
</section>
