<section id="Stage5" class="container content-section text-center">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <h2>Stage 5: Highland Recreation Area</h2>
            <h3>Friday May 26th, 2017 &nbsp;&nbsp;&nbsp; Don't Meet, Just Ride</h3>
            <p>Highland is a ride it when you can day. Go early and save some for Saturday? Recover from Thursday? Your call.</p>
        </div>
        <div class="col-lg-1 ">
            <p>
                <a href="#Stage6" class="btn btn-circle page-scroll">
                    <i class="fa fa-angle-double-down animated"></i></a>
            </p>
        </div>
    </div>
    <h3>The Course</h3>
    <div class="row">
        <div class="col-lg-3 col-lg-offset-2">
            <p>
                From the Livingston Road Trail Head. ABCD loop
            </p>
        </div>
        <div class="col-lg-6">
            <iframe height='405' width='100%' frameborder='0' allowtransparency='true' scrolling='no' src='https://www.strava.com/segments/1172461/embed'></iframe>
        </div>
    </div>
    <h3>The Sprints</h3>
    <div class="row">
        <div class="col-lg-3 col-lg-offset-2">
            <p>
                Ha Ha. Like you could sprint on Highland
            </p>
        </div>
        <div class="col-lg-6">
            <i class="fa fa-angle-double-down animated"></i>
        </div>
    </div>
    <h3>The Climbs</h3>
    <div class="row">
        <div class="col-lg-3 col-lg-offset-2">
            <p>
                On B Loop
            </p>
        </div>
        <div class="col-lg-6">
            <iframe height='405' width='100%' frameborder='0' allowtransparency='true' scrolling='no' src='https://www.strava.com/segments/7190618/embed'></iframe>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3 col-lg-offset-2">
            <p>
                Might want to take it easy on C-loop, you're going to need some for D Loop
            </p>
        </div>
        <div class="col-lg-6">
            <iframe height='405' width='100%' frameborder='0' allowtransparency='true' scrolling='no' src='https://www.strava.com/segments/7190683/embed'></iframe>
        </div>
    </div>
</section>
