<section id="Stage2" class="container content-section text-center">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <h2>Stage 2: ILRA Night Time Trial</h2>
            <h3>Monday May 22nd, 2017 &nbsp;&nbsp;&nbsp; Meet by 8:30, Ride starts at Sunset</h3>
            <p>Meet up at the <a href="https://goo.gl/maps/8mKnsAGWw9v" target="_blank" >JCPenny Parking Lot</a>, JETT Style</br>
            Remember to bring your lights for this crowd favorite</p>
        </div>
        <div class="col-lg-1 ">
            <p>
                <a href="#Stage3" class="btn btn-circle page-scroll">
                    <i class="fa fa-angle-double-down animated"></i></a>
            </p>
        </div>
    </div>
    <h3>The Course</h3>
    <div class="row">
        <div class="col-lg-3 col-lg-offset-2">
            <p>
                Leaving from JCPenny Entrance.
            </p>
        </div>
        <div class="col-lg-6">
            <iframe height='405' width='100%' frameborder='0' allowtransparency='true' scrolling='no' src='https://www.strava.com/segments/5213711/embed'></iframe>
        </div>
    </div>
    <h3>The Sprints</h3>
    <div class="row">
        <div class="col-lg-3 col-lg-offset-2">
            <p>
                The first sprint, early in the course is along the railroad tracks
            </p>
        </div>
        <div class="col-lg-6">
            <iframe height='405' width='100%' frameborder='0' allowtransparency='true' scrolling='no' src='https://www.strava.com/segments/5105237/embed'></iframe>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3 col-lg-offset-2">
            <p>
                The second sprint is near the end. The entire flat section after the downhill -> road crossing
            </p>
        </div>
        <div class="col-lg-6">
            <iframe height='405' width='100%' frameborder='0' allowtransparency='true' scrolling='no' src='https://www.strava.com/segments/12038283/embed'></iframe>
        </div>
    </div>
    <h3>The Climb</h3>
    <div class="row">
        <div class="col-lg-3 col-lg-offset-2">
            <p>
                The climb is the "big" climb after the bridge on yellow ... the segment goes well past the top. Keep Going!
            </p>
        </div>
        <div class="col-lg-6">
            <iframe height='405' width='100%' frameborder='0' allowtransparency='true' scrolling='no' src='https://www.strava.com/segments/1213744/embed'></iframe>
        </div>
    </div>
</section>
