<section id="Stage4" class="container content-section text-center">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <h2>Stage 4: Maybury State Park</h2>
            <h3>Thursday May 25th, 2017 &nbsp;&nbsp;&nbsp; Meet by 6:15, Ride at 6:30pm</h3>
            <p>Meet up at the <a href="https://goo.gl/maps/q28HuiZ329B2" target="_blank" >West Lot, under this Tree</a></p>
        </div>
        <div class="col-lg-1 ">
            <p>
                <a href="#Stage5" class="btn btn-circle page-scroll">
                    <i class="fa fa-angle-double-down animated"></i></a>
            </p>
        </div>
    </div>
    <h3>The Course</h3>
    <div class="row">
        <div class="col-lg-3 col-lg-offset-2">
            <p>
                Riding in from the West side of the Park, two hot laps, entering and exiting the trail at the old trailhead.
            </p>
        </div>
        <div class="col-lg-6">
            <iframe height='405' width='100%' frameborder='0' allowtransparency='true' scrolling='no' src='https://www.strava.com/segments/4196586/embed'></iframe>
        </div>
    </div>
    <h3>The Sprints</h3>
    <div class="row">
        <div class="col-lg-3 col-lg-offset-2">
            <p>
                Once per Lap ...
            </p>
        </div>
        <div class="col-lg-6">
            <iframe height='405' width='100%' frameborder='0' allowtransparency='true' scrolling='no' src='https://www.strava.com/segments/5330113/embed'></iframe>
        </div>
    </div>
    <h3>The Climb</h3>
    <div class="row">
        <div class="col-lg-3 col-lg-offset-2">
            <p>
                Once per Lap ...
            </p>
        </div>
        <div class="col-lg-6">
            <iframe height='405' width='100%' frameborder='0' allowtransparency='true' scrolling='no' src='https://www.strava.com/segments/12038325/embed'></iframe>
        </div>
    </div>
</section>
