<!doctype html>
<html lang="en">
<head>
    <% include ../partials/head %>
    <!--<meta name="viewport" content="width=device-width, initial-scale=1">-->
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">-->
    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>-->
    <!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>-->

</head>
<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
<% include ../partials/header %>
<!-- Intro Header -->
<header class="intro">
    <div class="intro-body">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1 col-sm-offset-0 col-xs-12 col-xs-offset-0">
                    <h1 class="brand-heading">LeFernando 2017</h1>
                    <h2>Stage 2</h2>
                    <div class="col-md-2  col-md-offset-3 col-xs-3 col-xs-offset-2">
                        <p>Stage </br>Details<br>
                            <a href="#details" class="btn btn-circle page-scroll">
                                <i class="fa fa-angle-double-down animated"></i>
                            </a></p>
                    </div>
                    <div class="col-md-2  col-lg-offset-0 col-xs-3 col-xs-offset-0">
                        <p>Official</br>Results<br>
                            <a href="#official" class="btn btn-circle page-scroll">
                                <i class="fa fa-angle-double-down animated"></i>
                            </a></p>
                    </div>
                    <div class="col-md-2  col-lg-offset-0 col-xs-3 col-xs-offset-0">
                        <p>Raw </br>Strava<br>
                            <a href="#strava" class="btn btn-circle page-scroll">
                                <i class="fa fa-angle-double-down animated"></i>
                            </a></p>
                    </div>

                </div>
            </div>
        </div>
    </div>
</header>

<section id="details" class="container content-section text-center">
    <div class="row">
        <div class="col-lg-12 col-lg-offset-0">
            <h2>Stage 2</h2>
            <p>
                Stage II is a crowd favorite during the week and always brings out the biggest field, yesterday was no exception with 32 showing up at the
                starting gate. The recent rains kept the sand down and made for some fast corners, and just enough puddles to get the dirt taste in your
                mouth.
            </p><p>
                With many DNS/DNF from stage 1, determining start order was a very scientific process: sorting by name. This caused quite a few crowds toward the mid
                section of the course, rather than bunching everyone up at the last few miles. A few lucky fast riders got to go off before the crowds,
                and some unlucky slower folks got suck in the middle, but its <i>Saul Goodman</i>!
            </p><p>
                Getting down to the results. All the top GC contenders where present, except for <i>Senor pantelon con tirantes</i> who appears to be
                missing the rest of the week after that nasty crash in Stage 1. <i>Turbotodd</i> was looking to extend his lead, but a wrong turn in the
                last 1/2 mile cost him some time, allowing <i>el Don Kasper</i> to cut the lead in half. The team competition remained as anyone would have
                guessed, with the team of <i>pantalones señor calientes</i> and <i>Manivela</i> only extending their lead.
                However, it certainly isn't in the bag, with teams <i>Ritmo de Caracol/Mtbikerjoe</i> and <i>El Navigator/Igancia Zen de Aguatar</i> in the
                hunt! The sprint competition is in utter chaos with changes all over the board, while the climb points remained pretty even from stage 1.
            </p>
        </div>
        </br>

    </div>
</section>

<section id="official" class="container content-section text-center">
    <div class="row">
        <div class="col-lg-12 col-lg-offset-0">
            <h2>Stage Results</h2>
            <iframe width="100%" height="1350px" src="https://docs.google.com/spreadsheets/d/1HTMT7oZgxWKd7rF-YsDYdleYYuXzRHqGbRTi5295Pw4/pubhtml?gid=2&amp;single=true&amp;widget=true&amp;headers=false"></iframe>
        </div>

    </div>
</section>



<section id="strava" class="container content-section text-center">
    <div class="row">
        <div class="container">
            <div class="col-md-8 col-md-offset-2" >
                <h2>Raw Strava Data</h2>
                <p>This is just preliminary Strava Data ... best guess from automation.</p>
                <table  id="results" class="table-bordered table-condensed" >
                    <thead>
                    <tr>
                        <th>Strava ID</th><th>Start</th><th>Finish</th><th>Time</th>
                    </tr>
                    </thead>
                    <tbody style="color:red;">
                    <% for (var i = 0; i < rides.length; /* I save the data in a variable 'quotation', I don't know how you named your variable  */  i++) { %>
                    <tr>
                        <form action="/admin" method="post">
                            <td><%= rides[i].rider %></td>
                            <td><%= rides[i].startTime %></td>
                            <td><%= rides[i].finishTime %></td>
                            <td><%= rides[i].totalTime %></td>
                        </form>
                    </tr>
                    <% } %>

                    </tbody>

                </table>
            </div>


        </div>
    </div>
</section>
<footer>
    <% include ../partials/footer %>
</footer>
</body>
</html>
