<!doctype html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
<% include ../partials/header %>

<!-- Intro Header -->
<header class="intro">
    <div class="intro-body">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <% if (typeof user == 'undefined') { %>
                    <p>Login with:</p>
                    <p><a href="/auth/strava"><img src="./btn_strava_connectwith_orange.png"></a></p>
                    <% } else { %>
                    <h1 class="brand-heading">LeFernando 2017</h1>
                    <h2 class="intro-text">Schedule?!</h2>
                    <p>
                    See <a href="/lf2017whoin">Who's Riding!</a>
                    </p>
                    <p>
                        Sun  5/21 - 9:45am - <a href="#Stage1">Addison Oaks and Bald</a><br>
                        Mon  5/22 - 8:45pm - <a href="#Stage2">ILRA Night Time Trial</a></br>
                        Tues 5/23 - 6:15pm - <a href="#Stage3">Pontiac Lake Double</a></br>
                        Thur 5/25 - 6:15pm - <a href="#Stage4">Maybury++ Double</a></br>
                        Fri  5/26 - ?:???m - <a href="#Stage5">Highland Trail ABCD TT</a></br>
                        Sat  5/27 - 9:45am - <a href="#Stage6">B-RecPoto Epic!!</a></br>
                    </p>

                    <a href="#Stage1" class="btn btn-circle page-scroll">
                        <i class="fa fa-angle-double-down animated"></i>
                    </a>
                    <% } %>
                </div>
            </div>
        </div>
    </div>
</header>

<% if (typeof user != 'undefined') { %>

<!-- Stage 1 Section -->
<% include ../stages/stage1.ejs %>

<!-- Stage 2 Section -->
<% include ../stages/stage2.ejs %>

<!-- Stage 3 Section -->
<% include ../stages/stage3.ejs %>

<!-- Stage 4 Section -->
<% include ../stages/stage4.ejs %>

<!-- Stage 5 Section -->
<% include ../stages/stage5.ejs %>

<!-- Stage 6 Section -->
<% include ../stages/stage6.ejs %>

<% } %>

<footer>
    <% include ../partials/footer %>
</footer>
</body>
</html>
