<!doctype html>
<html lang="en">
<head>
    <% include ../partials/head %>
    <!--<meta name="viewport" content="width=device-width, initial-scale=1">-->
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">-->
    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>-->
    <!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>-->

</head>
<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
<% include ../partials/header %>
<!-- Intro Header -->
<header class="intro">
    <div class="intro-body">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <% if (typeof user == 'undefined') { %>
                    <p>Login with:</p>
                    <p><a href="/auth/strava"><img src="./btn_strava_connectwith_orange.png"></a></p>
                    <% } else { %>
                    <h1 class="brand-heading">LeFernando 2017</h1>

                    <h2>Stage 2 Results</h2>
                    <p>Official<br>
                        <a href="#official" class="btn btn-circle page-scroll">
                            <i class="fa fa-angle-double-down animated"></i>
                        </a></p>
                    <p>Preliminary Strava Data<br>
                        <a href="#strava" class="btn btn-circle page-scroll">
                            <i class="fa fa-angle-double-down animated"></i>
                        </a></p>
                    <% } %>
                </div>
            </div>
        </div>
    </div>
</header>

<section id="official" class="container content-section text-center">
    <div class="row">
        <div class="col-lg-12 col-lg-offset-0">
            <h2>Stage Results</h2>
            <iframe width="100%" height="1350px" src="https://docs.google.com/spreadsheets/d/1HTMT7oZgxWKd7rF-YsDYdleYYuXzRHqGbRTi5295Pw4/pubhtml?gid=2&amp;single=true&amp;widget=true&amp;headers=false"></iframe>
        </div>

    </div>
</section>



<section id="strava" class="container content-section text-center">
    <div class="row">
        <div class="container">
            <div class="col-md-8 col-md-offset-2" >
                <h2>Raw Strava Data</h2>
                <p>This is just preliminary Strava Data ... best guess from automation.</p>
                <table  id="results" class="table-bordered table-condensed" >
                    <thead>
                    <tr>
                        <th>Strava ID</th><th>Start</th><th>Finish</th><th>Time</th>
                    </tr>
                    </thead>
                    <tbody style="color:red;">
                    <% for (var i = 0; i < rides.length; /* I save the data in a variable 'quotation', I don't know how you named your variable  */  i++) { %>
                    <tr>
                        <form action="/admin" method="post">
                            <td><%= rides[i].rider %></td>
                            <td><%= rides[i].startTime %></td>
                            <td><%= rides[i].finishTime %></td>
                            <td><%= rides[i].totalTime %></td>
                        </form>
                    </tr>
                    <% } %>

                    </tbody>

                </table>
            </div>


        </div>
    </div>
</section>
<footer>
    <% include ../partials/footer %>
</footer>
</body>
</html>
