<!doctype html>
<html lang="en">
<head>
    <% include ../partials/head %>
    <!--<meta name="viewport" content="width=device-width, initial-scale=1">-->
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">-->
    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>-->
    <!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>-->

</head>
<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
<% include ../partials/header %>
<!-- Intro Header -->
<header class="intro">
    <div class="intro-body">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1 col-sm-offset-0 col-xs-12 col-xs-offset-0">
                    <h1 class="brand-heading">LeFernando 2017</h1>
                    <h2>Stage 3</h2>
                    <div class="col-md-2  col-md-offset-3 col-xs-3 col-xs-offset-2">
                        <p>Stage </br>Details<br>
                            <a href="#details" class="btn btn-circle page-scroll">
                                <i class="fa fa-angle-double-down animated"></i>
                            </a></p>
                    </div>
                    <div class="col-md-2  col-lg-offset-0 col-xs-3 col-xs-offset-0">
                        <p>Official</br>Results<br>
                            <a href="#official" class="btn btn-circle page-scroll">
                                <i class="fa fa-angle-double-down animated"></i>
                            </a></p>
                    </div>
                    <div class="col-md-2  col-lg-offset-0 col-xs-3 col-xs-offset-0">
                        <p>Raw </br>Strava<br>
                            <a href="#strava" class="btn btn-circle page-scroll">
                                <i class="fa fa-angle-double-down animated"></i>
                            </a></p>
                    </div>

                </div>
            </div>
        </div>
    </div>
</header>

<section id="details" class="container content-section text-center">
    <div class="row">
        <div class="col-lg-12 col-lg-offset-0">
            <h2>Stage 3</h2>
            <p>
                The weather has brought an unexpected twist to Cinco Le Fernando. After four years and 23 out of 24 stages stages being "nice" weather,
                this year is already at 1 of 3. Gone are the hot, sweaty, dusty training rides of years past. Replacing them this year are cooler temps,
                rain and a lot of mud.
            </p>
            <p>
                Stage III, also known as &^%$#@!, lived up to its pseudonym on Tuesday night and an unexpected shower before and during the ride left a
                fresh coating of “oh shit” on every rock, root and off camber corner. After the neutral rollout – and the honorary crossing guard lead out –
                things broke wide open when <i>Turbotodd</i> turned on the boosters up 2-mile hill. He was uncontested for most of the stage and took
                the win, putting a little more distance between him and his competitors. But <i>el Don Kasper</i> kept it close with a surge at the end.
                Keep your eye on this battle. In the team competition, <i>pantalones señor calientes</i> gave his team a little breathing room with a
                second place stage finish. <i>él Lider</i> remains atop the climb points board, but <i>Manivela</i> and <i>Turbotodd</i> are keeping it
                interesting! Sitting atop the sprint points board is <i>Manivela</i>, who seems to be walking, errrr, sprinting away with this one.
                But there’s still a lot of riding to be had.
            </p><p>
                The stage witnessed the return of <i>Senor pantelon con tirantes</i>! He donned the bibs again after what seemed to be a
                Le Fernando ending injury. His return to the madness is inspirational to all!
            </p><p>
                Fernando always said, “<i>Creer en ti mismo, y el resto caerá en su lugar.</i>” So, riders are resting up tonight. They'll soon be back to
                work on Stage 4. It’s tight, it’s twisty and something tells me it’s gonna be slick.
            </p>
        </div>
        </br>

    </div>
</section>


<section id="official" class="container content-section text-center">
    <div class="row">
        <div class="col-lg-12 col-lg-offset-0">
        <h2>Stage Results</h2>
            <iframe width="100%" height="1350px" src="https://docs.google.com/spreadsheets/d/1HTMT7oZgxWKd7rF-YsDYdleYYuXzRHqGbRTi5295Pw4/pubhtml?gid=452662844&amp;single=true&amp;widget=true&amp;headers=false"></iframe>
        </div>

    </div>
</section>



<section id="strava" class="container content-section text-center">
    <div class="row">
        <div class="container">
            <div class="col-md-8 col-md-offset-2" >
                <h2>Raw Strava Data</h2>
                <p>This is just preliminary Strava Data ... best guess from automation.</p>
                <table  id="results" class="table-bordered table-condensed" >
                    <thead>
                    <tr>
                        <th>Strava ID</th><th>Start</th><th>Finish</th><th>Time</th>
                    </tr>
                    </thead>
                    <tbody style="color:red;">
                    <% for (var i = 0; i < rides.length; /* I save the data in a variable 'quotation', I don't know how you named your variable  */  i++) { %>
                    <tr>
                        <form action="/admin" method="post">
                            <td><%= rides[i].rider %></td>
                            <td><%= rides[i].startTime %></td>
                            <td><%= rides[i].finishTime %></td>
                            <td><%= rides[i].totalTime %></td>
                        </form>
                    </tr>
                    <% } %>

                    </tbody>

                </table>
            </div>


        </div>
    </div>
</section>
<footer>
    <% include ../partials/footer %>
</footer>
</body>
</html>
